body {
  background-color: #E5E5E5;
  background-image: url("./Resources/rect.png"), url("./Resources/rect2.png"), url("./Resources/rect.png");
}

.App{
  display: flex;
  justify-content: center;
  
}

#Logo-img{
  position: absolute;
  /* width: 20%px;
  height: 36.02px; */
  left: 2rem;
  top: 2rem;
}

footer{
  position: absolute;
  bottom: 0.5rem;
  color: #545454;
  font-family: 'Roboto';
  font-size: 80%;
  font-weight: 400;
}

